section {
  position: relative;
  padding: 180px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-number {
  top: 0;
  right: 258px;
  position: absolute;
  font-family: serif;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 400px;
  opacity: 0.02;
  line-height: 533px;
  color: rgb(255, 255, 255);
  z-index: -1;
}
.section-number_middle{
  top: 50%;
  transform: translateY(-50%);
}
#facts {
  padding: 150px 0;
  padding-bottom: 120px;
}
