
section{
    position: relative;
}
.section-number{
    top: 0;
    right: 258px;
   position: absolute;
   font-family: serif;
   font-weight: 700; 
   font-family: "Playfair Display", serif;
   font-size: 400px;
   opacity: .02;
   line-height: 533px;
   color: rgb(255, 255, 255)
}

#facts{
    padding: 150px 0;
}